In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/city_hour.csv')

In [3]:
df.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01 01:00:00,NaN,NaN,1.00,40.01,36.37,NaN,1.00,122.07,NaN,0.0,0.0,0.0,NaN,NaN
1,Ahmedabad,2015-01-01 02:00:00,NaN,NaN,0.02,27.75,19.73,NaN,0.02,85.90,NaN,0.0,0.0,0.0,NaN,NaN
2,Ahmedabad,2015-01-01 03:00:00,NaN,NaN,0.08,19.32,11.08,NaN,0.08,52.83,NaN,0.0,0.0,0.0,NaN,NaN
3,Ahmedabad,2015-01-01 04:00:00,NaN,NaN,0.30,16.45,9.20,NaN,0.30,39.53,153.58,0.0,0.0,0.0,NaN,NaN
4,Ahmedabad,2015-01-01 05:00:00,NaN,NaN,0.12,14.90,7.85,NaN,0.12,32.63,NaN,0.0,0.0,0.0,NaN,NaN

In [4]:
No2Data = df[['Datetime','NO2']]
No2Data.head()

              Datetime    NO2
0  2015-01-01 01:00:00  40.01
1  2015-01-01 02:00:00  27.75
2  2015-01-01 03:00:00  19.32
3  2015-01-01 04:00:00  16.45
4  2015-01-01 05:00:00  14.90

In [5]:
No2Data.dtypes

Datetime     object
NO2         float64
dtype: object

Convet to datetime

In [6]:
No2Data['Datetime'] = pd.to_datetime(No2Data['Datetime'])
No2Data.dtypes

C:\Users\yasas\AppData\Local\Temp\ipykernel_22212\1039025032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  No2Data['Datetime'] = pd.to_datetime(No2Data['Datetime'])

Datetime    datetime64[ns]
NO2                float64
dtype: object

In [7]:
No2Data['Datetime'].max(),No2Data['Datetime'].min()

(Timestamp('2020-07-01 00:00:00'), Timestamp('2015-01-01 01:00:00'))

Extract hour and minute

In [8]:
No2Data['Datetime'].dt.hour.head()

0    1
1    2
2    3
3    4
4    5
Name: Datetime, dtype: int32

In [9]:
No2Data['Datetime'].dt.minute.head()

0    0
1    0
2    0
3    0
4    0
Name: Datetime, dtype: int32

The day of week - Monday(0) to Sunday(6)

In [10]:
No2Data['Datetime'].dt.day_of_week.head(7)

0    3
1    3
2    3
3    3
4    3
5    3
6    3
Name: Datetime, dtype: int32

In [11]:
No2Data['Datetime'].dt.day_name().head(7)

0    Thursday
1    Thursday
2    Thursday
3    Thursday
4    Thursday
5    Thursday
6    Thursday
Name: Datetime, dtype: object

Extracting the month

In [12]:
No2Data['Datetime'].dt.month.head()

0    1
1    1
2    1
3    1
4    1
Name: Datetime, dtype: int32

In [13]:
No2Data['Datetime'].dt.is_month_end.head()

0    False
1    False
2    False
3    False
4    False
Name: Datetime, dtype: bool

Pull it together

In [14]:
new_df = pd.DataFrame({"year":No2Data['Datetime'].dt.year,
                       "month":No2Data['Datetime'].dt.month,
                       "day":No2Data['Datetime'].dt.day,
                       "hour":No2Data['Datetime'].dt.hour,
                       "dayofyear":No2Data['Datetime'].dt.day_of_year,
                       "week":No2Data['Datetime'].dt.weekday,
                       "dayofweek":No2Data['Datetime'].dt.dayofyear,
                       "dayofweekname":No2Data['Datetime'].dt.day_name(),
                       "quarter":No2Data['Datetime'].dt.quarter})
new_df.head()

   year  month  day  hour  dayofyear  week  dayofweek dayofweekname  quarter
0  2015      1    1     1          1     3          1      Thursday        1
1  2015      1    1     2          1     3          1      Thursday        1
2  2015      1    1     3          1     3          1      Thursday        1
3  2015      1    1     4          1     3          1      Thursday        1
4  2015      1    1     5          1     3          1      Thursday        1

In [15]:
complete_data = pd.concat([No2Data,new_df],axis=1)
complete_data.head()

,Datetime,NO2,year,month,day,hour,dayofyear,week,dayofweek,dayofweekname,quarter
0,2015-01-01 01:00:00,40.01,2015,1,1,1,1,3,1,Thursday,1
1,2015-01-01 02:00:00,27.75,2015,1,1,2,1,3,1,Thursday,1
2,2015-01-01 03:00:00,19.32,2015,1,1,3,1,3,1,Thursday,1
3,2015-01-01 04:00:00,16.45,2015,1,1,4,1,3,1,Thursday,1
4,2015-01-01 05:00:00,14.90,2015,1,1,5,1,3,1,Thursday,1

is_weekday?(create using the dayofweek numbers)

In [ ]:
complete_data['is_weekday'] = 0
for i in range(0, len(complete_data)):
    if ((complete_data['dayofweek'][i] == 5) | (complete_data['dayofweek'][i] == 6)):
        complete_data['is_weekday'][i]=0
    else:
        complete_data['is_weekday'][i]=1